<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deshan.mad_sims">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Attendance.desMainActivity">
            <intent-filter>
                <action android:name=".desMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Attendance.desEnter_Attendance">
            <intent-filter>
                <action android:name=".desEnter_Attendance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Attendance.desDisplay">
            <intent-filter>
                <action android:name=".desDisplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Attendance.desPercentage">
            <intent-filter>
                <action android:name=".desPercentage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Attendance.desUpdate">
            <intent-filter>
                <action android:name=".desUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MAD_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Marks.MainMarksActivity"
            android:parentActivityName=".MAD_MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MAD_MainActivity"/>
        </activity>

        <activity
            android:name=".Marks.AddMarksActivity"
            android:parentActivityName=".Marks.MainMarksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Marks.MainMarksActivity"/>
        </activity>

        <activity
            android:name=".Marks.DeleteMarksActivity"
            android:parentActivityName=".Marks.MainMarksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Marks.MainMarksActivity"/>
        </activity>

        <activity
            android:name=".Marks.UpdateMarksActivity"
            android:parentActivityName=".Marks.MainMarksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Marks.MainMarksActivity"/>
        </activity>

        <activity
            android:name=".Marks.ViewMarksActivity"
            android:parentActivityName=".Marks.MainMarksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Marks.MainMarksActivity"/>
        </activity>
    </application>

</manifest>